:root{
  --bgGradation: linear-gradient(0deg, #ffdd02  0%, #fb8eb5 100%);
}

*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  /* chromeのバグ回避 bodyのremが効かない */
  font-size: 1.6em;
}

.none {
  display: none;
}
.bgc--grad{
  background-image: var(--bgGradation);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  z-index: 2;
}
.header__inner{
  max-width: 960px;
  margin: 0 auto;
}
.header__inner h1 {
  height: 60px;
  padding: 8px;
}
.header__inner h1 img{
  max-height: 100%;
  width: auto;
}

.main{
  margin-top: 60px;
  overflow: hidden;
}
.main__head{
  padding-top: 48px;
  padding-bottom: 48px;
}

h2{
  font-size: 2.4rem;
  margin: 0 12px 24px 12px;
  text-align: center;
}
.lead{
  line-height: 1.6;
  max-width: 700px;
  margin: 0 12px 24px 12px;
}


@media screen and (min-width: 700px){
  .lead{
    margin: 0 auto 24px auto;
  }
}
@media screen and (min-width: 960px){
  h2{
    font-size: 3.2rem;
    margin: 0 auto 32px auto;
  }

}
/* ハンバーガー
------------------------------------------------ */
.burger__btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  cursor: pointer;
  z-index: 3;
  opacity: 1;
}
.burger__btn:hover{
  opacity: .8;
}
.burger__btn.open{
  background-color: rgba(0,0,0,.0);
}
.burger__btn p{
  width: 33%;
  height: 33%;
  position: absolute;
  overflow: hidden;
}

.burger__btn span{
  position: absolute;
  width: 150%;
  height: 2px;
  background: #fff;
}

.burger__btn span:first-child{
  top: 0;
  transform-origin: top left;
}
.burger__btn span:nth-child(2){
  top: calc(50% - 1px);
}
.burger__btn span:last-child{
  bottom: 0;
  transform-origin: bottom left;
}
/* close */
.burger__btn.open span:first-child{
  transform: rotate(45deg) translateY(-50%);
}
.burger__btn.open span:nth-child(2){
  opacity: 0;
}
.burger__btn.open span:last-child{
  transform: rotate(-45deg) translateY(50%);
}
/* modal */
.burger__modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.burger__modal__inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0,0,0,.8);
}
.burger__modal__menu li{
  font-size: 1.6rem;
  line-height: 3;
 }

/* スライダー
------------------------------------------------ */
.pickup {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 48px;
  position: relative;
}
.pickup .item{
  position: relative;
  margin: 0 12px;
}
.pickup .item__meta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #f1f1f1;
}
.pickup .item__meta__state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 33.3333%;
  max-width: 80px;
  background-color: #22b1ed;
  color: #fff;
}
.pickup .item__meta__locate{
  padding-right: 20px;
}
.pickup .item__meta .far,
.pickup .item__meta .fas
 {
  margin-right: 8px;
}
.pickup .item__title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-weight: bold;
  line-height: 1.6;
  background: #fff;
  height: 80px;
}

.pickup .item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity .2s;
}
.pickup .item:hover .item__link{
  opacity: .3;
}

/* スライダー　矢印 */
.slick-arrow{
  position: absolute;
  text-indent: -100vw;
  top: 50%;
  z-index: 1;
  width: 48px;
  height: 64px;
  color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-arrow:hover,
.slick-arrow:active{
  opacity: .8;
}

.slick-prev{
  left: 0px;
  transform: translateY(-50%);
  background-image: url(../images/arrow_left.png);
  background-size: 50%;
  
}
.slick-next{
  right: 0px;
  transform: translateY(-50%) rotate(180deg);
  background-image: url(../images/arrow_left.png);
  background-size: 50%;
}

@media screen and (min-width: 960px){

  .pickup__slider{
    width: calc(100% + 24px * 2);
    transform: translateX(-24px);
  }
  .slick-prev{
    transform: translate(-50%,-50%);
  }
  .slick-next{
    transform: translate(50%,-50%) rotate(180deg);
  }
  .pickup .item{
    margin: 0 24px;
  }
}

/* お知らせ
------------------------------------------------ */
.info{
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
  border: 1px solid #efefef;
  max-width: 960px;
}
.info__list{
  background-color: #ffffff;
  padding: 8px;
  width: calc(100% - 48px);
}
.info__list time{
  font-size: 1.4rem;
  line-height: 1.4;
}
.info__list p{
  line-height: 1.6;
}
.info__modal__open{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  background-color: #000000;
  color: #fff;
  padding: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 1;
}
.info__modal__open:hover{
  opacity: .8;
}
.info__modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.info__modal__inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

.info__modal__list li {
  line-height: 1.6;
  margin-bottom: 16px;
}
.info__modal__list time{
  display: block;
}

.info__modal__close{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.info__modal__close::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 80%;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
}
.info__modal__close::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 2px;
  height: 80%;
  background-color: #fff;
  transform-origin: left;
}

@media screen and (min-width: 700px){
  .info__list{
    padding: 8px 16px;
    width: calc(100% - 80px);
  }
  .info__list .item{
    display: flex;
    align-items: center;
  }
  .info__list .item time{
    margin-right: 16px;
  }
  .info__modal__open{
    width: 80px;
  }
}
@media screen and (min-width: 960px){
  .info{
    margin: 0 auto;
  }
}

/* WSもくもく会とは
------------------------------------------------ */
.whatis{
  padding-top: 48px;
}
.whatis__grlly{
  padding: 48px 0;
}
.whatis__carousel{
  white-space: nowrap;
  letter-spacing: -1em;

}
.whatis__carousel__set{
  display: inline-block;
  white-space: nowrap;
}
.whatis__carousel__set .item{
  display: inline-block;
  letter-spacing: normal;
  width: 150px;
  transition: transform .3s;
  cursor: pointer;
}
.whatis__carousel__set .item:hover{
  transform: scale(2);
}
.whatis__carousel__set .item img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
/* ３つのテーマ
------------------------------------------------ */
.theme{
  padding-top: 48px;
}
.theme__nav{

  margin: 0 12px 32px 12px;
}
.theme__nav ul{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.theme__nav li{
  width: 33.3333%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #62cbf1;
  border-right: 1px solid #fff;
  cursor: pointer;
  font-size: 1.2rem;
}
.theme__nav li:last-child{
  width: 34%;
  border-right: none;
}
.theme__nav li.active,
.theme__nav li:hover{
  background-color: #06afec;
}
.theme__content{
  margin: 0 12px 48px 12px;
}
.theme__content .item{
  margin: 0 auto;
  max-width: 700px;
  display: none;
  /* transition: opacity .5s; */
  opacity: 0;
}
.theme__content .item.active{
  display: block;
  /* opacity: 1; */
}
.theme__content .item__part{
  margin-bottom: 32px;
}

.theme__content .item__part h3{
  font-size: 2rem;
  margin-bottom: 1em;
}
.theme__content .item__part p{
  line-height: 2;
}
.theme__content .item__part i {
  margin-right: 8px;
}
@media screen and (min-width: 700px){
  .theme__content .item.active{
    display: flex;
  }
  .theme__content .item__part{
    flex: 1;
  }
}

@media screen and (min-width: 960px){
  .theme__nav li{
    font-size: 1.4rem;
  }

  .theme__content .item {
    max-width: 960px;
  }
  .theme__content .item__part{
    margin-bottom: 0;
    width: 50%;
  }
}

/* よくある質問
------------------------------------------------ */
.qa__content{
  padding: 32px 12px;
  background-color: #fb9db8;
}
.qa__content dt{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px;
  margin: 24px auto 0 auto;
  max-width: 700px;
}
.qa__content dt:first-child{
  margin-top: 0;
}
.qa__content dt .btn{
  /* background-color: #aaa; */
  height: 16px;
  width: 16px;
}
.qa__content dt .btn span{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform .3s;
}
.qa__content dt.open .btn span{
  transform: rotate(-45deg);
}

.qa__content dt .btn span::before{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #aaa;
}
.qa__content dt .btn span::after{
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #aaa;
}
.qa__content dd{
  padding: 16px;
  background-color: #fff;
  line-height: 1.6;
  display: none;
  margin: 2px auto 0 auto;
  max-width: 700px;
}

/* イベント一覧
------------------------------------------------ */
.events{
  padding-top: 48px;
}
.events__inner{
  padding: 48px 0;
}
.events__content{
  max-width: 960px;
  margin: 0 12px;
  display: flex;
  flex-wrap: wrap;
}
.events__content .item{
  width: calc(50% - 8px);
  background-color: #fff;
  margin-bottom: 32px;
  position: relative;
  display: none;
}
.events__content .item a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity .2s;
}
.events__content .item:hover a {
  opacity: .3;
}
.events__content .item.active{
  display: block;
}
@media screen and (max-width: 959px){
  .events__content .item:nth-child(odd){
    margin-right: 8px;
  }
  .events__content .item:nth-child(even){
    margin-left: 8px;
  }
}
.events__content .item__meta{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.events__content .item__meta__state{
  height: 24px;
  width: 80px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events__content .item__meta__date{
  width: calc(100% - 80px);
  text-align: center;
}
.events__content .item__title{
  padding: 8px;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* 一覧 ページネーション */
.events__pages {
  text-align: center;
  display: flex;
  justify-content: center;
}
.events__pages li{
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
}
.events__pages li:last-child{
  margin-right: 0;
}
.events__pages li.active{
  background-color: #000;
}
.events__pages li.active a{
  color: #fff;
}

@media screen and (min-width: 960px){
  .events__content{
    margin: 0 auto;
  }
  .events__content .item{
    width: calc(320px - 16px);
    background-color: #fff;
  }
  .events__content .item:nth-child(3n + 1){
    margin-right: 16px;
  }
  .events__content .item:nth-child(3n + 2){
    margin-right: 8px;
    margin-left: 8px;
  }
  .events__content .item:nth-child(3n){
    margin-left: 16px;
  }
  .events__content .item__meta{
    font-size: 1.4rem;
  }
  .events__content .item__meta__state{
    height: 36px;
  }
  .events__content .item__title{
    font-size: 1.6rem;
  }

}

/* フォーム
------------------------------------------------ */
.contact{
  padding-top: 48px;
}
.contact .lead span{
  display: block;
  font-size: 1.4rem;
  margin-top: 8px;
}
.contact__form{
  margin: 0 12px;
  max-width: 700px;
}
.contact__form p{
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 16px;
}
.contact__form span{
  display: none;
  color: red;
}
.contact__form input{
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  border: 1px solid #dedede;
}
.contact__form textarea{
  padding: 8px;
  width: 100%;
  height: 240px;
  border: 1px solid #dedede;
}
.contact__form button{
  background: #ff8a65;
  color: #fff;
  height: 48px;
  width: 128px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

/* 送信ボタン */
.contact__form button:disabled{
  opacity: .5;
  cursor: default;
}

@media screen and (min-width: 700px){
  .contact__form{
    margin: 0 auto;
  }
}

/* footer
------------------------------------------------ */
footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
/* トップへ
------------------------------------------------ */
.btnTop{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 48px;
  padding: 0 8px 48px 0;
  color: #000;
  transform: translateY(100%);
  opacity: 0;
  transition: transform .5s,opacity .5s;
}
.btnTop.active{
  transform: translateY(0%);
  opacity: 1;
}


/* オリジナルコンテンツ */
#fixed__contents {
  background-color: blue;
  color: orange;
  padding: 1rem 0;
  display: none;

  position: fixed;
  bottom: 0;
  width: 100%;
}
#fixed__contents.active {
  display: block;
}
#fixed__contents p {
  text-align: center;
}